*.cache
*.stackdump
*.swp
*.cache
*.suo
FRCApp\bin\Debug\FRCApp.exe
FRCApp\bin\Debug\FRCApp.pdb
FRCApp\bin\Debug\dB.mdf
FRCApp\bin\Debug\dB_log.ldf
FRCApp\bin\Debug\FRCApp.pdb
FRCApp\obj\Debug\FRCApp.csproj.FileListAbsolute.txt
FRCApp\obj\Debug\FRCApp.csproj.GenerateResource.Cache